.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
  background-color: #5d51c2;
  // background-color: #393085;
}
